
<header>
    <nav  class="flex h-auto w-auto bg-white shadow-lg rounded-lg justify-between md:h-16">
        <div class="flex w-full justify-between ">
            <div [ngClass]="{'hidden transition ease-out duration-300':open,'flex':!open}" 
            class="flex px-6 w-1/2 items-center font-semibold
            md:w-1/5 md:px-1 md:flex md:items-center md:justify-center">
            <img src="logo.svg" width="38" height="38" alt="green volt logo">
            <span class="text-2xl">Green Volt</span>
            </div>
  
            @if(open){
                <div 
            class=" transition ease-in-out duration-300 flex flex-col w-full h-auto
            md:hidden">
                <div class="flex flex-col items-center justify-center gap-2">
                    <a href="">À propos</a>
                    <a href="">Services</a>
                    <a href="">Réalisations</a>
                    <a href="">Contact</a>
                </div>
            </div>
            }
            <div class="hidden w-3/5 items-center justify-evenly font-semibold
            md:flex">
              <a href="">À propos</a>
              <a href="">Services</a>
              <a href="">Réalisations</a>
              <a href="">Contact</a>
            </div>
            <button class="text-gray-500 w-10 h-10 relative focus:outline-none bg-white md:hidden" (click)="open=!open">
                <span class="sr-only">Open main menu</span>
                <div class="block w-5 absolute left-1/2 top-1/2   transform-translate-x-1/2 -translate-y-1/2">
                    <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" [ngClass]="{'rotate-45': open,' -translate-y-1.5': !open }" ></span>
                    <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" [ngClass]="{'opacity-0': open } "></span>
                    <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" [ngClass]="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                </div>
            </button>
        </div>
    </nav>
</header>
  