<div class="container">
    <div class="img-wrapper">
        <img class="hero-img border-round-3xl" src="hero.jpg" alt="hero image">
        <div class="overlay border-round-3xl"></div>
        <div class="hero-details">
            <h1>
                Votre énergie, notre expertise
            </h1>
            <p>
                Green Volt est une entreprise dynamique et innovante
                spécialisée dans l'électricité générale, fondée par Elyes
                Yangui. Forte de son expertise, Green Volt propose une
                gamme complète de services, allant de l'installation
                électrique classique à la mise en place de bornes de
                recharge pour véhicules électriques.
            </p>
            <div class="flex justify-content-start gap-5">
                <button pButton class="custom-theme" size="large" label="Contact"></button>
                <button pButton class="p-button-primary text-white" [outlined]="true" size="large" label="En savoir plus"></button>
            </div>
        </div>
    </div>
</div>